<?php
/**
  * Get a secret keys from stripe and fill in this content.
  * save the file to app/Config/stripe.php
  */
  $config = array(
  	'Stripe' => array(
  		'TestSecret' => 'sk_test_XXXXXXXXXXXXXXXXXXXXX',
  		'PublicTestKey' => 'pk_test_XXXXXXXXXXXXXXXXXXXXX',
  		'LiveSecret' => 'sk_live_XXXXXXXXXXXXXXXXXXXXX',
  		'PublicLiveKey' => 'pk_live_XXXXXXXXXXXXXXXXXXXXX',
  		'mode' => 'Test',
  		'currency' => 'usd'
  		)
  	);
?>